@font-face {
    font-family: 'TTHakgyoansimMabeopsaR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimMabeopsaR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'TTHakgyoansimMabeopsaR';
    box-sizing: border-box;
    
}
html{
    background-image: url(짤.gif);
    background-size: 1300px 687px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}
.app{
    position: relative;
    width: 322px;
    height: 568px;
    border-radius: 8px;
    background-color: none;
    align-items: center;
    margin: 5px;
}
#head{
    position: relative;
    width: 350px;
    height: 350px;
    align-items: center;
}
